# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/.idea.ra-diplom-main.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\admin\Desktop\ra-diplom-main\.idea\.idea.ra-diplom-main.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
