# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.frontend.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\admin\Desktop\ra-diplom-main\frontend\.idea\.idea.frontend.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
